.container {
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr repeat(3, 0.5fr);
        grid-column-gap: 20px;
        padding: 20px;
        align-items: center;
        text-align: left;
}

.container img {
        width: 200px;
}

.container p{
    text-align: center;
}