
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#54743a;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}




.link {
    text-decoration: none;
    margin: 10px;
    list-style-type: none;
}
