
.container {
    margin-top: 15px;
    width: auto;
    height: auto;
    color: black;
}

.buttonContainer {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.buttonContainer h5 {
    display: flex;
    align-items: center;
}

.buttonContainer button {
    color: white;
    border: 1px solid #333;
    background: #333;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px;
    transition: 0.2s;
}

.buttonContainer button:hover {
    background-color: rgb(231, 112, 112);
}


.containerConfirm {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerConfirm button {
    list-style: none;
    border-radius: 0;
    transition: all .2s ease;
    font-size: 16px;
    text-align: center;
    margin: 0;
    display: block;
    clear: both;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    border: 1px solid #333;
    background: #333;
    text-decoration: none;
}

.containerConfirm button:hover {
    background-color: rgb(231, 112, 112);
}